.container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
	{
	width: 900px;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.login .control-label {
	width: 100px;
}

.login .controls {
	margin-left: 110px;
	padding-top: 5px;
}

.login .controls input {
	height: 25px;
}

.login form {
	margin-top: 20px;
}

/* Dashboard CSS */
.dash_img img {
	width: 80px;
}